.gb-conteudo{
    width: 260px;
    /* height: 492px; */
    height: 489px;
    background: #1d1c1c;
    position: absolute;
    /* left: 42%; */
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    /* right: 50%; */
    /* top: 5%; */
    border-radius: 31px;
    border: 6px double #6f6c69bf !important;
    box-shadow: 17px 20px 20px 2px #000000;
}

.gb-menu-navegacao{
	background: #1d1c1c;
    width: 260.9px;
    height: 60px;
    border-radius: 30px 30px 0px 0px;
}

.gb-imagem-usuario{
	width: 248px;
    height: 360px;
    background: aquamarine;
    position: absolute;
    left: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    /*border-radius: 6px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.gb-imagem-usuario p{
	opacity: 0.6;
}

.gb-imagem-usuario p:hover{
	opacity: 1;
	transition: 0.8s;
}

.gb-menu-acoes{
	background: #1d1c1c;
    width: 260.9px;
    height: 60px;
    border-radius: 0px 0px 30px 30px;
    position: absolute;
    bottom: 0px;
}

body{
	background: aquamarine;
	font-family: sans-serif;
}

.gb-bt-principal{
	width: 45px;
    height: 45px;
    /* background: black; */
    border: 2px solid #6f6c69bf;
    border-radius: 30px;
    left: 107px;
    position: absolute;
    top: 0px;
    cursor: pointer;
    background: black;
    box-shadow: inset 4px 1px 2px 0px #1d1c1c;  
    opacity: 0.5;
    transition: 0.5s
}

.gb-bt-principal:hover{
    opacity: 1;
}

.gb-som-usuario{
	width: 57px;
    height: 4px;
    background: #6f6c69bf;
    position: absolute;
    top: 29px;
    left: 107px;
    border-radius: 26%;
    box-sizing: border-box;
}

.gb-som-usuario::before{
	content: '';
    width: 8px;
    height: 8px;
    /* background-color: #6f6c69bf; */
    border-radius: 100%;
    position: absolute;
    left: -30px;
    top: -2px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 3.3px solid #6f6c69bf;
}

.exec-program{
    width: 42px;
    height: 40px;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    left: 80px;
    top: 133px;
}

.jogo-da-cobrinha{
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    display: flex;
}

.cobrinha{
    /*width: 60px;*/
    /*height: 5px;*/
    background: white;
    border-radius: 10px;
    /*margin: 10px;*/
    position: absolute;
    bottom: 35px;
    left: 120px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 4px;

}

.gol{
    position: absolute;
    width: 100px;
    height: 20px;
    background: white;
    bottom: 10px;
    left: 75px;
}

.bolinha{
	width: 10px;
    height: 10px;
    background: white;
    border-radius: 10px;
    position: absolute;
    left: 122px;
    /*margin-top: 10px;*/
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.placar{
    width: 25px;
    height: 25px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.gols{
	background: red;
}

.loading{
	width: 100%;
    height: 100%;
    background: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.home{
    width: 100%;
    height: 100%;
    /*background: teal;*/
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,51,99,1) 42%, rgba(0,212,255,1) 112%);
    position: absolute;
}

.barra-informativa{
    position: absolute;
    height: 15px;
    width: 100%;
    background: black;
    opacity: 0.2;
    display: flex;
    /* justify-content: center; */
    align-items: center;  
}

.barra-informativa span{
  font-size: 12px;  
  color: white;
  margin: 0 0 0 5px;
  padding: 0;
}

.menu-bts-acoes{
    position: absolute;
    height: 28px;
    width: 100%;
    background: black;
    opacity: 0.1;
    bottom: 0;
}

.internet, .sinal, .bateria{
    margin: 0;
    padding: 0px;
    height: 15px;
}

.internet img, .sinal img, .bateria img{
    height: 15px;
}

.bateria {
    position: absolute;
    right: 7px;
}

.sinal {
    position: absolute;
    right: 30px;
}

.corpo-tela{
    position: absolute;
    top: 15px;
    width: 100%;
    height: 96%;
    box-sizing: border-box;
}

.dv-jogo{
    height: 70px;
    color: white;
    font-family: sans-serif;
    font-size: small;
}

.bt-jogo{
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    margin: 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.bt-jogo:hover{
    opacity: 1.0;
}

.dv-jogo span{
    position: absolute;
    left: 17px;
    top: 51px;
}

.gb-luz-bt-principal{
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  box-shadow: 15px 15px 0 0 #F39C12; 
}

.som{
    width: 5px;
    height: 21px;
    position: absolute;
    left: -11px;
    background: #7d7979;
    top: 120px;
    box-sizing: border-box;
    border-radius: 11px 0 0 11px;
}

.som-menos{
    top: 170px;
}

.bt-modo-aviao{
    width: 4px;
    height: 28px;
    position: absolute;
    left: -15px;
    background: #7d7979;
    top: 0px;
    box-sizing: border-box;
    border-radius: 11px 0 0 11px;
}

.logo-apple{
    width: 50px;
    height: auto;
    position: fixed;
    margin: 10px;
}

.autenticacao{
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 5%, rgba(51,51,99,1) 43%, rgba(0,212,255,1) 144%);
}

.info-hora{
    color: white;
    font-size: -webkit-xxx-large;
    display: block;
    /* left: 27%; */
    position: absolute;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.teclado{
    display: block;
    top: 190px;
    margin: 0;
    height: 127px;
    width: 90%;
    box-sizing: border-box;
    text-align: center;
    left: 14px;
}

.teclado button{
    margin:0;
    padding: 0;
    background: transparent;
    width: 65px;
    height: 30px;
    transition: 0.5s;
    color: white;
    font-size: 17px;
    opacity: 0.8;
    border: transparent;
    border-radius: 6px;
    font-weight: bold;
}

.teclado button:hover{
    opacity: 1;
    cursor: pointer;
    background: rgba(0,212,255,0.2);
}

.info-dono-celular{
    position: absolute;
    top: 120px;
    /* left: 76px; */
    color: white;
    font-size: small;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}

#teclado:target{
    animation-name: vibracal;
    animation-duration: 3s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    /* animation-timing-function: ease; */
}

.out-senha{
    top: 157px;
    height: 26px;
    width: 100%;
    /*left: 72px;*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 212, 255, 0.06);
}

.senha-out{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 32px;
    opacity: 1 !important;
    margin: 6px;
}

.senha-in{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 32px;
    opacity: 1 !important;
    margin: 6px;
}

.area-efeito-teclado{
    position: absolute;
    top: 200px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-efeito-conteudo{
    width: 25%;
    height: 570px;
    position: absolute;
    top: 5%;
    left: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation-name: vibracal;
    animation-duration: 5s;
    /* animation-iteration-count: 2; */
    /* animation-direction: alternate; */
    animation-timing-function: ease;
    /* animation-delay: 5s; */
}



.ligar{
    color: white;
    font-size: larger;
    height: 26px;
    width: 244px;
    position: absolute;
    left: 95px;
    top: 103px;
    cursor: pointer;
}

.tela-ligacao{
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    left: 0px;
    top: 0;
    color: white;
    font-size: larger;
    background: linear-gradient(90deg, rgba(2,0,36,1) 5%, rgba(51,51,99,1) 43%, rgba(0,212,255,1) 144%);
}

.foto-usuario{
    height: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lb-ligando div{
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lb-ligando{
    top: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 26%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.fundo-foto-usuario{
    border: 1px solid;
    border-radius: 105px;
    height: 198px;
    margin: 21px;
    background-color: #cacaca;
}

.lb-qm-m-liga-apelido{
    position: absolute;
    top: 47px;
    left: 83px;
    font-size: smaller;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.lb-qm-m-liga{
    display: block; 
    position: absolute;
    top: 27px;
    left: 70px;
    margin: 0;
    padding: 0;
}

.dv-img-lem-msg{
    position: absolute;
    top: 60%;
    margin: 8px;
    font-size: small;
}

.lembre-me{
    left: 50px
}

.msg{
    right: 50px
}

.dv-ac-rej-ligacao{
    position: absolute;
    top: 297px;
    margin: 7px;
    box-sizing: border-box;
    font-size: small;
}

.rejeitar{
    left: 50px
}

.aceitar{
    right: 50px
}

@keyframes fadein{
    from{
        left:0px;
    }
    to{
        left:42%;
    }
}

@keyframes vibracal{
    from{
        left:0px;
    }
    to{
        left:42%;
    }
}